<a href="https://colab.research.google.com/github/RandaErfan/test_colab/blob/main/task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:

dic={"caleornia":1234255
     ,"florida":6381956
     ,"illions":6498356
     ,"new york":46728965
     ,"texes":478164}

In [ ]:
df_0=pd.series(df) #series can formed from list 1D

In [ ]:
rk=np.array[[212145,742489],
            [361487,476289],
            [555758,784398],
            [487933,574878],
            [623718,687980]]

In [ ]:
rk_0=pd.series(rk) # series can formed from array 2D

In [ ]:
data=pd.series([23,34,67,78,92,45,54])

In [ ]:
data.values
df_0.values
rk_1.values

In [ ]:
data[1]
data[2]

In [ ]:
Data =([45,36,87,97,53],index=['frist','second','third','forth','fifth'])

In [ ]:
Data['third']

In [ ]:
dic={'c':45656,
     'd':67890,
     'e':76890,
     'f':45678,
     'g':45678}

In [ ]:
data_0= pd.series(dic)

In [ ]:
data[0:3]

In [ ]:
data_0['c']

In [ ]:
data_0['c':'f'] #notice that it will the last element write 'f'

In [ ]:
import numpy as np
x=np.array([98,45,27,57])

In [ ]:
x

array([98, 45, 27, 57])

In [ ]:
dtype(x)

In [ ]:
import numpy as np
x=np.array([98,45,27,57],dtype='float64')

In [ ]:
values=[45,44,32,12]

In [ ]:
print(1./values)

In [ ]:
print(compute_resprocals(values))

In [ ]:
print(np.arange(5)/np.arange(1,6))

[0.         0.5        0.66666667 0.75       0.8       ]

In [ ]:
dic={"caleornia":1234255
     ,"florida":6381956
     ,"illions":6498356
     ,"new york":46728965
     ,"texes":478164}

In [ ]:
serie=pd.series(dic)

In [ ]:
frame=pd.DataFrame(dic)

In [ ]:
arr=np.random.randient(1,20,30).reshape(10,3)

In [ ]:
df= pd.DataFrame(arr,columns=['a','b','c','d'],index=['i','j','k','m'])

NameError: ignored

In [ ]:
dic_population={'a':1234,
                'b':2345,
                'c':3456,
                'd':4567}

In [ ]:
dic_area={'a':12345678,
          'b':23455678,
          'c':34562346,
          'd':45678901}

In [ ]:
area_0=pd.series(dic_area)                                                
area_1=pd.series(dic_population)

In [ ]:
area_2 =pd.DataFrame({'population':dic_population ,
                      'area':dic_area})

NameError: ignored

In [ ]:
data=pd.DataFrame({'population':[9,8,7,6,5],'area':[5,4,3,2,1],index=['a','b','c','d','e']})

In [ ]:
data.index

In [ ]:
data.colums

NameError: ignored

In [ ]:
data['area']

In [ ]:
data['population']

In [ ]:
area['d']
population['e']

In [ ]:
data['area']['c']

In [ ]:
data['population']['f']

NameError: ignored

In [ ]:
pd,DataFrame(area,colums=['area'])

In [ ]:
pd.DataFrame({'area':area})

NameError: ignored

In [ ]:
data=[{'a':0 ,'b':1},
      {'a':2 ,'b':3},
      {'a':4 ,'b':5}]

In [ ]:
frame=pd.DataFrame(data)

In [ ]:
frame

   a  b
0  0  1
1  2  3
2  4  5

In [ ]:
data=[{'a':i ,'b':2*i},for i in range (3)]

In [ ]:
frame= pd.DataFrame(data)

In [ ]:
data=[{'a':0 ,'b':1},
      {'c':2 ,'d':3},
      {'e':4 ,'f':5}]

In [ ]:
frame =pd.DataFrame(data)

In [ ]:
frame

     a    b    c    d    e    f
0  0.0  1.0  NaN  NaN  NaN  NaN
1  NaN  NaN  2.0  3.0  NaN  NaN
2  NaN  NaN  NaN  NaN  4.0  5.0

In [ ]:
df=pd.read_csv('remean_ratings_csv')

In [ ]:
df.head(10)

In [ ]:
df['country']

In [ ]:
df.country

In [ ]:
df['Top Ten']

In [ ]:
df.iloc[0,:] #the first row

In [ ]:
df.iloc[:,0] #the frist colum

In [ ]:
df.iloc[:3,:] #the frist three rows

In [ ]:
df.iloc[:,-1] #the last colum

In [ ]:
df.iloc[-1,:] #the last row

In [ ]:
df.iloc[[1,3,4,5],:] #certian elements

In [ ]:
df.iloc[:,[5,4,2]]

In [ ]:
df.iloc[-10,:]

In [ ]:
type(df.iloc[-10,:]) #the tenth row

In [ ]:
df.iloc[=10:,:] #the last ten rows

In [ ]:
df.loc[:,'Brands','Stars','Style']

In [ ]:
df_0=df.set_index('review_#')

In [ ]:
df_1.iloc[-3, :]

In [ ]:
df_1.iloc[0:3, :]

In [ ]:
df_1.iloc[5:1, :]

In [ ]:
df_1.iloc[:, 7:1]

In [ ]:
df=pd.read_csv('remean_ratings_csv')

In [ ]:
df.head()

In [2]:
df['Top Ten'].notnull()

NameError: ignored

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum(axis=0)

In [ ]:
df.shape

In [ ]:
df.fillna()

In [ ]:
df.isnull().sum(axis=0)/df.shape[0]

In [ ]:
df.dropna().shape

In [ ]:
df.dropna(axis='colums')

In [ ]:
df=df.dropna(axis='colums')

In [ ]:
df.dropna(axis='colums', inplace=True)

In [ ]:
df.dropna(subset=['Brand','Style','Top Ten'])

In [ ]:
df.loc(df['Style']).isnull()

In [ ]:
df_1=df.fillna(0)

In [ ]:
df_1.loc[df['Style']=0]

In [ ]:
df.fiilna('Style'':'"not awabile" ,"Top Ten"

In [ ]:
df_1.iloc[2152,2442,:]

In [ ]:
df.fillna(method="ffill")

In [ ]:
from pandas.core.frame import DataFrame
df_2=pd.DataFrame([np.nan,2,np.nan,0])

In [21]:
colums=list("ABCD")

In [22]:
df_2.fillna(method ="bfill")

NameError: ignored

In [ ]:
from pandas._libs.hashtable import value_count
df['Style'].value_counts()

In [ ]:
df['Stars'].value_counts()

In [25]:
df.dropna(subset =['Stars'],inplace =True)

NameError: ignored

In [ ]:
df['Stars'].astype(float64)